wandb
nltk
tensorboard
sentencepiece
https://download.pytorch.org/whl/cu117/torch-2.0.1%2Bcu117-cp39-cp39-linux_x86_64.whl
hydra-core
fairscale
deepspeed==0.10.0
datasets
bitsandbytes
transformers
peft
accelerate
einops
tensor-parallel